In [ ]:
#list methods
#index,append,extend,insert,remove,count,pop,reverse,sort,copy,clear

#difference between append and extend
#################################################
#The append() method in the Python 
#programming language adds an item to a list that already exists whereas the extend() 
#method adds each of the iterable elements which is 
#supplied as a parameter to the end of the original list.

In [4]:
#List
vowels = ['a', 'e', 'i', 'o', 'i', 'u']
index = vowels.index('i')
print('The index of i:', index)

The index of i: 2

In [7]:
vowels = ['a', 'e', 'i', 'o', 'i', 'u','i']
index = vowels.index('i',3)
print('The index of i:', index)

The index of i: 4

In [8]:
currencies = ['Dollar', 'Euro', 'Pound']
currencies.append('Yen')
currencies

['Dollar', 'Euro', 'Pound', 'Yen']

In [9]:
animals = ['cat', 'dog', 'rabbit']
wild_animals = ['tiger', 'fox']
animals.append(wild_animals)
animals

['cat', 'dog', 'rabbit', ['tiger', 'fox']]

In [11]:
prime_numbers = [2, 3, 5]
numbers = [1, 4]
numbers.extend(prime_numbers)
numbers

[1, 4, 2, 3, 5]

In [12]:
languages = ['French']
languages_tuple = ('Spanish', 'Portuguese')
languages_set = {'Chinese', 'Japanese'}

languages.extend(languages_tuple)

languages

['French', 'Spanish', 'Portuguese']

In [13]:
languages.extend(languages_set)
languages

['French', 'Spanish', 'Portuguese', 'Chinese', 'Japanese']

In [14]:
a = [1, 2]
b = [3, 4]

a[len(a):] = b
a

[1, 2, 3, 4]

In [15]:
vowel = ['a', 'e', 'i', 'u']
vowel.insert(3, 'o')
vowel

['a', 'e', 'i', 'o', 'u']

In [17]:
lst=[{1,2},[5,6,7]]
tpl=(3,4)
lst.insert(1,tpl)
lst

[{1, 2}, (3, 4), [5, 6, 7]]

In [18]:
animals = ['cat', 'dog', 'rabbit', 'guinea pig']
animals.remove('rabbit')
animals

['cat', 'dog', 'guinea pig']

In [19]:
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']
animals.remove('dog')
animals
#it is only removing first matching element

['cat', 'dog', 'guinea pig', 'dog']

In [22]:
numbers = [2, 3, 5, 2, 11, 2, 7]
count = numbers.count(2)
count

3

In [23]:
count=numbers.count(19)
count
#19 is not present

0

In [24]:
lst = ['a', ('a', 'b'), ('a', 'b'), [3, 4]]
count = lst.count(('a', 'b'))
count

2

In [25]:
count = lst.count([3, 4])
count

1

In [29]:
prime_numbers = [2, 3, 5, 7]
removed_element = prime_numbers.pop(2)
removed_element

5

In [28]:
prime_numbers

[2, 3, 7]

In [31]:
languages = ['Python', 'Java', 'C++', 'Ruby', 'C']
#When index is not passed
languages.pop()
languages

['Python', 'Java', 'C++', 'Ruby']

In [32]:
languages.pop(-1)
languages

['Python', 'Java', 'C++']

In [33]:
languages.pop(-3)
languages

['Java', 'C++']

In [34]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.reverse()
prime_numbers

[7, 5, 3, 2]

In [39]:
prime_numbers = [2, 3, 5, 7]
reverse=prime_numbers[::-1]
reverse

[7, 5, 3, 2]

In [37]:
prime_numbers = [2, 3, 5, 7]
for i in reversed(prime_numbers):
    print(i)

7
5
3
2

In [40]:
prime_numbers = [2, 3, 5, 7]
prime_numbers.clear()
prime_numbers

[]

In [42]:
prime_numbers = [2, 3, 5, 7]
prime_numbers
del prime_numbers[:]
prime_numbers

[]

In [44]:
prime_numbers = [11, 3, 7, 5, 2]
prime_numbers.sort()
prime_numbers

[2, 3, 5, 7, 11]

In [45]:
prime_numbers = [11, 3, 7, 5, 2]
prime_numbers.sort(reverse=True)
prime_numbers
#sorted?

[11, 7, 5, 3, 2]

In [46]:
my_list = ['cat', 0, 6.7]
new_list = my_list.copy()
new_list

['cat', 0, 6.7]

In [47]:
new_list.append('dog')
new_list

['cat', 0, 6.7, 'dog']

In [48]:
lst=[-1,1,-2,2,-3,3]
del lst[0]
lst

[1, -2, 2, -3, 3]

In [49]:
del lst[2:4]
lst

[1, -2, 3]

In [ ]:
#tuple methods
#index,count

In [57]:
t=tuple('pytthon')
t

('p', 'y', 't', 't', 'h', 'o', 'n')

In [51]:
u=t,(1,2,3,4,5)
u

(('p', 'y', 't', 'h', 'o', 'n'), (1, 2, 3, 4, 5))

In [60]:
l=len(u)
l

2

In [58]:
#start index
ind=t.index('t')
ind

2

In [59]:
count=t.count('t')
count

2

In [61]:
random = ('a', ('a', 'b'), ('a', 'b'), [3, 4])
count = random.count(('a', 'b'))
count

2

In [62]:
count = random.count([3, 4])
count

1

In [ ]:
#set methods
#add,remove,copy,clear,difference,discard,intersection,
#isdisjoint,issubset,pop,symmetric_difference,union,update

In [63]:
language = {'English', 'French', 'German'}
language.remove('English')
language

{'French', 'German'}

In [68]:
vowels = {'a', 'e', 'i', 'u'}
vowels.add('o')
vowels

{'a', 'e', 'i', 'o', 'u'}

In [69]:
vowels.add('a')
vowels
#cant add duplicate values

{'a', 'e', 'i', 'o', 'u'}

In [67]:
vowels = {'a', 'e', 'u'}
tup = ('i', 'o')
vowels.add(tup)
vowels

{('i', 'o'), 'a', 'e', 'u'}

In [71]:
vowels = {'a', 'e', 'i','o' ,'u'}
new_v=vowels.copy()
new_v

{'a', 'e', 'i', 'o', 'u'}

In [72]:
vowels = {'a', 'e', 'i','o' ,'u'}
new_v=vowels
new_v

{'a', 'e', 'i', 'o', 'u'}

In [74]:
new_v.clear()
new_v

set()

In [75]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}
#A-B
A.difference(B)

{'a', 'b', 'd'}

In [76]:
A-B

{'a', 'b', 'd'}

In [77]:
numbers = {2, 3, 4, 5}
numbers.discard(3)
numbers

{2, 4, 5}

In [78]:
A = {2, 3, 5}
B = {1, 3, 5}
A.intersection(B)

{3, 5}

In [79]:
A = {1, 2, 3, }
B = {4, 5, 6}
#if two sets don't have any common items between them
A.isdisjoint(B)

True

In [80]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
# all items of A are present in B
A.issubset(B)

True

In [81]:
A = {'10', 'Ten', '100', 'Hundred'}
A.pop()

'Hundred'

In [82]:
A

{'10', '100', 'Ten'}

In [83]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
# returns all items to result variable except the items on intersection
result = A.symmetric_difference(B)
result

{'a', 'b', 'e'}

In [84]:
A = {2, 3, 5}
B = {1, 3, 5}
A.union(B)

{1, 2, 3, 5}

In [85]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}
A.union(B, C)

{1, 2, 3, 'a', 'c', 'd'}

In [87]:
A = {'a', 'b'}
B = {1, 2, 3}
A.update(B)
A

{1, 2, 3, 'a', 'b'}

In [89]:
A = {1, 3, 5}
B = {2, 4, 6}
C = {0}
A.update(B, C)
A

{0, 1, 2, 3, 4, 5, 6}

In [ ]:
#dictionaries

#clear,copy,fromkeys,get,items,keys,popitem,pop,values,update

In [94]:
numbers = {1: "one", 2: "two"}
numbers.clear()
numbers

{}

In [95]:
marks = {'Physics':67, 'Maths':87}
marks

{'Physics': 67, 'Maths': 87}

In [96]:
copied_marks=marks.copy()
copied_marks

{'Physics': 67, 'Maths': 87}

In [97]:
keys = {'a', 'e', 'i', 'o', 'u' }
keys

{'a', 'e', 'i', 'o', 'u'}

In [98]:
value = 'vowel'
vowels = dict.fromkeys(keys, value)
vowels

{'o': 'vowel', 'u': 'vowel', 'a': 'vowel', 'e': 'vowel', 'i': 'vowel'}

In [99]:
marks = {'Physics':67, 'Maths':87}
marks.get('Physics')

67

In [100]:
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
sales.items()

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [101]:
employee = {'name': 'Swarnali', 'age': 25, 'salary': 3500.0}
dictionaryKeys = employee.keys()
dictionaryKeys

dict_keys(['name', 'age', 'salary'])

In [102]:
employee = {'name': 'Swarnali', 'age': 25, 'salary': 3500.0}
res=employee.popitem()
res

('salary', 3500.0)

In [103]:
employee

{'name': 'Swarnali', 'age': 25}

In [104]:
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }
element = marks.pop('Chemistry')
element

72

In [105]:
marks

{'Physics': 67, 'Math': 89}

In [106]:
marks.values()

dict_values([67, 89])

In [107]:
marks = {'Physics':67, 'Maths':87}
new_marks = {'Practical':48}
marks.update(new_marks)
marks

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [111]:
d = {1: "one", 2: "two"}
d.update([(3,'three')])
d

{1: 'one', 2: 'two', 3: 'three'}