In [3]:
print('hello','world', 'to me', "not you")

hello world to me not you

In [4]:
x = 4
y = 5

In [5]:
print(x*y)

20

In [6]:
if x == 5:
    print('swarnali')
elif y == 6:
    print('sudhir')
else:
    print('BUG')

BUG

In [7]:
i = 0
while i<7:
    print(i)
    i = i+1

0
1
2
3
4
5
6

In [8]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [9]:
for i in range(1,11):
    print(f" 2x{i}={2*i} ")

 2x1=2
 2x2=4
 2x3=6
 2x4=8
 2x5=10
 2x6=12
 2x7=14
 2x8=16
 2x9=18
 2x10=20

In [10]:
a=4
b=3

In [11]:
"{} x {}".format(a,b)

'4 x 3'

In [12]:
a = 'ramar'

In [13]:
b = ''.join(reversed(a))

In [14]:
if a==b:
    print('pal')
else:
    print('not pal')

pal

In [16]:
print('pal') if a == ''.join(reversed(a)) else print('not pal')

pal

In [17]:
if a == 4:
    b='sudhir'
else:
    b='swalnali'

In [18]:
a=4

In [19]:
b='sudhir' if a==4 else b='zeer'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1159118193.py, line 1)

In [20]:
b

'swalnali'

In [21]:
b = 'sudhir' if a==4 else 'zeer'

In [22]:
b

'sudhir'

In [25]:
a,b=40,20
min=a if a<b else b
print(min)

20

In [26]:
m,n=5,7
print(m,"is greater") if m>n else print(n,"is greater")

7 is greater

In [28]:
age=25
msg="My name is Swarnali,I am {} year {}"
print(msg.format(age,"old"))

My name is Swarnali,I am 25 year old

In [29]:
number=12345678.45356
f'{number:,.2f}'

'12,345,678.45'

In [30]:
#left padding,right padding and centre padding
cases=[5,78,496]
for case in cases:
    print('Number of cases:{}'.format(case))

Number of cases:5
Number of cases:78
Number of cases:496

In [32]:
for case in cases:
    print('Number of cases:{:>5}.'.format(case))

Number of cases:    5
Number of cases:   78
Number of cases:  496

In [33]:
for case in cases:
    print('Number of cases:{:<5}.'.format(case))

Number of cases:5    .
Number of cases:78   .
Number of cases:496  .

In [34]:
for case in cases:
    print('Number of cases:{:^5}.'.format(case))

Number of cases:  5  .
Number of cases: 78  .
Number of cases: 496 .

In [35]:
# ** unpacks the dict.
jobs={'name':'swarnali','job':'driver'}
print("{name} is a {job}.".format(**jobs))

swarnali is a driver.

In [42]:
print("The binary equivalent of 4 is {:b}".format(4))
print("The hexadecimal equivalent of 30 is {:X}".format(30))

The binary equivalent of 4 is 100
The hexadecimal equivalent of 30 is 1E