In [23]:
print('hello','world', 'to me', "not you")

hello world to me not you

In [31]:
x = 4
y = 5

In [39]:
print(x*y)

20

In [47]:
if x == 5:
    print('swarnali')
elif y == 6:
    print('sudhir')
else:
    print('BUG')

BUG

In [48]:
i = 0
while i<7:
    print(i)
    i = i+1

0
1
2
3
4
5
6

In [49]:
for i in range(0,7):
    print(i)

0
1
2
3
4
5
6

In [58]:
for i in range(1,11):
    print(f" 2x{i}={2*i} ")

 2x1=2
 2x2=4
 2x3=6
 2x4=8
 2x5=10
 2x6=12
 2x7=14
 2x8=16
 2x9=18
 2x10=20

In [55]:
a=4
b=3

In [56]:
"{} x {}".format(a,b)

'4 x 3'

In [59]:
a = 'ramar'

In [67]:
b = ''.join(reversed(a))

In [68]:
if a==b:
    print('pal')
else:
    print('not pal')

pal

In [70]:
a='sudhir'
if :
    print('pal')
else:

not pal

In [71]:
print('pal') if a == ''.join(reversed(a)) else print('not pal')

not pal

In [72]:
if a == 4:
    b='sudhir'
else:
    b='swalnali'

In [75]:
a=4

In [76]:
b='sudhir' if a==4 else b='zeer'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1159118193.py, line 1)

In [74]:
b

'swalnali'

In [77]:
b = 'sudhir' if a==4 else 'zeer'

In [78]:
b

'sudhir'